{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Store</title>
    <link rel="icon" href="{% static 'img/e-com-logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">

    {% block css %}
    {% endblock %}
    
</head>

<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" id="is_seller" value="{{ request.user.is_seller }}">
    {% if messages %}
        {% for message in messages %}
            <div class="message-{{ message.tags }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <header>
        <div class="logo">
            <img src="{% static 'img/e-com-logo.png' %}" alt="e-com-logo">
        </div>
        <button class="mobile-menu-btn" id="mobileMenuBtn">☰</button>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <button>🔍</button>
        </div>
        <nav id="mainNav">
            
            <ul>
                <li><a href="{% url 'home' %}" class="nav-link {% if page == 'home' %}active{% endif %}" data-page="home">Home</a></li>
                <li><a href="{% url 'cart' %}" class="nav-link my-cart-btn {% if page == 'cart' %}active{% endif %}" data-page="shop">My Cart</a></li>
                {% if request.user.is_seller %}
                    <li><a href="{% url 'sellerdashboard' %}" class="nav-link my-cart-btn {% if page == 'sellerdashboard' %}active{% endif %}" data-page="shop">My Products</a></li>
                {% endif %}
                <li><a href="{% url 'contact' %}" class="nav-link {% if page == 'contact' %}active{% endif %}" data-page="contact">Contact us</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="nav-link {% if page == 'login' %}active{% endif %}">Login</a></li>
                {% endif %}
                        {% if not request.user.is_seller %}
                            <li><a href="{% url 'registerseller' %}" class="nav-link {% if page == 'registerseller' %}active{% endif %}">Be a Seller</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </ul>
        </nav>
    </header>
    {% block maincontent %}
    {% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            document.querySelectorAll('[class^="message-"]').forEach(function(msg) {
                msg.style.display = 'none';
            });
        }, 2000); 
    });
</script>
</body>
</html>