{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
<main>
    <!-- Homepage Content -->
    <div class="homepage" id="homepage">
        <section class="hero">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>Shop the Latest Trends</h1>
                    <p>Discover our collection of the most recent arrivals and best-selling products.</p>
                    <a class="shop-now-btn" href="{% url 'cart' %}" style="text-decoration: none;">My Cart</a>
                </div>
                <div class="hero-images">
                    <img src="{% static 'img/handbag.jpg' %}" alt="Yellow handbag">
                    <img src="{% static 'img/headphone.jpeg' %}" alt="Headphones">
                    <img src="{% static 'img/watch.jpg' %}" alt="Watch">
                    <img src="{% static 'img/shoes.jpg' %}" alt="Shoes">
                </div>
            </div>
        </section>
        
        <section class="featured-products">
            <h2>Featured Products</h2>

            <!-- Display spinning animation while loading -->
            <div id="spinner" class="spinner" style="display: none;"></div>

            <div class="product-grid" id="product-grid">
                <!-- Fills the product fetched using javascript -->
            </div>
        </section>
    </div>
    
</main>
 
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock %}